<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.nulldev.secureaccess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Use accessibility services while keeping data encryption enabled!" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>
